
.container-fluid{
  font-family: 'Lato', sans-serif;
}
.no-padding{
  padding-left: 0;
  padding-right: 0;
}

.jumbotron{
margin-bottom: 1%;
}


.jumbotron h1{
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.7px;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron h4{
  font-weight: 400;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.7px;
}

#space {
border: 3px solid gray;
border-radius: 2%;
margin: 2%;
}

img{
border-radius: 2.5%;
margin-right: 3%;
padding-bottom: 1%;
padding-top: 1%;
margin-left:0;
padding-left: 0;
}

#about{
  padding-top: 8%;
  padding-left: 3%;
}
#about p{
  font-size: 15px;
}
